/* --------------------- Main rules ----------------------------------- */
* {
  margin: 0;
  padding: 0;
}

#menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 15px;
}

#menu ul {
  list-style-type: none;
}

#menu ul li a {
  color: #333;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

#menu ul li a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #333;
  content: '';
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

#menu ul li a:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

@media (min-width: 1025px) {
  #menu ul {
    padding: 0px 10% 0px 10%;
  }
}

@media (min-width: 1367px) {
  #menu ul {
    padding: 0px 15% 0px 15%;
  }
}

.header-mobile {
  display: block;
}

.mobile-toggle {
  display: inline-block;
}

.header {
  display: none;
}

@media (min-width: 601px) {
  .header-mobile {
    display: none;
  }
  .mobile-toggle {
    display: none;
  }
  .header {
    display: block;
  }
}

.mobile {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 14px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
}

.open-nav {
  max-height: 400px !important;
}

.open-nav .mobile-toggle {
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.mobile .logo {
  font-family: 'Vladimir Script';
  padding-left: 14px;
  font-size: 42px;
  font-weight: 600;
  color: #333;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  text-decoration: none;
}

#mobile-menu {
  width: 100%;
}

#mobile-menu ul {
  padding-start: 0px;
  list-style: none;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 10px;
  float: left;
  text-align: center;
  width: 100%;
}

#mobile-menu ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  padding: 7px 0;
  margin: 0;
}

#mobile-menu ul li a {
  color: #333;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  font-size: 16px;
}

#mobile-menu ul li a::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border-bottom: 2px solid #333;
  content: '';
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

#mobile-menu ul li a:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 22px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  display: block;
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  -webkit-border-radius: 1000px;
          border-radius: 1000px;
  background: #333;
  display: block;
}
